.cat{
    width: 20%;
}
.coding{
    width: 15%;
    position: relative;
    top: 20px;
}
.top-container h2 {
    padding-bottom: 50px;
}

span{
    text-size: 0.6em;
    color: #626262;
}
