.cat{
    width: 20%;
}
.coding{
    width: 15%;
    position: relative;
    top: 20px;
}
.top-container h2 {
    padding-bottom: 50px;
}
span{
    color: #8d8383;
    font-size: 20px;
}
