.couch{
    width: 32.5%;
}

.profile{
    width: 70%;
    margin: 50px auto; /* auto usualy centers the element, wont work for vertical, unless you use grid*/
    
}
.cat{
    width: 10%;
    position: absolute; /* this takes the element out of the flow, that is it will be above the page itself. need the parent to be relative for this to work*/
    left: 25%;
    bottom: 12%;
}

.kitty{
    width: 7.5%;
    padding-top: 7.5%;
    position: absolute;
    left: 39%;
    bottom: auto;
}

.coding{
    width: 6%;
    padding-top: 8%;
    position: absolute;
    right: 40%;
    bottom: auto;
}
.coding-update{
    width: 10%;
    position: relative; /*if you want to change the position relative to the root position of the element, doesnt take the element out of the flow*/
    top: 50px;
}
.camera{
    width: 5%;
    position: absolute;
    bottom: 12%;
    right: 25%;
}

.me-img{
    height: 250px;
    border-radius: 50%;
}
.mobile-img{
    width: 20%;
}
